<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>QR Code</title>
  </head>
  <body style="overflow-y: scroll;overflow-x: hidden; text-align: center;">
    <form style="width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="text-align: center;">
        <img class="qr-code-img" src="{{ img_path }}" style="padding: 0.3em; background: black; width: 100%; pointer-events: none;" />
        <h4 class="percentage" style="margin-top: 2vw; margin-bottom: 2vh;font-size: 2.3vh;"></h4>
        <div class="form-floating mb-3" style="text-align: left;">
          <input type="email" class="form-control email" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
          <div id="emailHelp" class="form-text" style="text-align: center;">We'll never share your email with anyone else.</div>
        </div>
        <div class="form-floating mb-3" style="text-align: left;">
          <img class="polygon-logo" src="{{ polygon_logo_path }}" style="padding: 0.3em; background: white; width: 10%;position: absolute;right: 4%;top: 20%;pointer-events: none;" />
          <input type="address" class="form-control address" id="floatingInput2" placeholder="name@example.com" style="padding-right: 16%;">
          <label for="floatingInput">Polygon address</label>
        </div>
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="First group">
            <input type="text" class="form-control input-count" placeholder="Input count" aria-label="Input count" aria-describedby="btnGroupAddon" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
            <button type="button" class="btn btn-outline-secondary" onclick="down();">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
            <button type="button" class="btn btn-outline-secondary" onclick="up();">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
              </svg>
            </button>
          </div>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%; margin-bottom: 2vh; justify-content: space-between; align-content: center;">
          <button onclick="document.querySelector('.input-count').value=5;" type="button" class="btn btn-dark" style="width: 30%;">5</button>
          <button onclick="document.querySelector('.input-count').value=10;" type="button" class="btn btn-dark" style="width: 30%;">10</button>
          <button onclick="document.querySelector('.input-count').value=100;" type="button" class="btn btn-dark" style="width: 30%;">100</button>
        </div>
        <div style="display: flex; flex-direction: row; width: 100%;">
          <button onclick="check();" type="button" class="btn btn-light" style="width: 50%; margin-right: 1em;">Check</button>
          <button onclick="buy();" type="button" class="btn btn-dark buy" style="width: 50%; margin-left: 1em;">Buy</button>
        </div>
      </div>
    </form>
    <span style="padding-bottom: 1em;">© QR Code 2022</span>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      let validateEmail = (email) => {
        return email.match(
          /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
      };      

      let validate = () => {
        const email = $('.email').val();

        if (validateEmail(email)) {
          return true
        }
        return false;
      };

      let buy = () => {
        let count = Number(document.querySelector(".input-count").value),
            email = document.querySelector(".email").value,
            address = document.querySelector(".address").value;

        document.querySelector(".buy").innerHTML = '<div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>';

        if ((!validate()) || (email.length == 0)) {
          document.querySelector(".buy").innerHTML = "Buy";
          document.querySelector(".email").style["border-color"] = "red";
          document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>Incorrect email format</span>";
          return;
        } else {
          document.querySelector(".percentage").innerHTML = "";
          document.querySelector(".email").style["border"] = "1px solid #ced4da";
        }
        
        if (count == 0) {
          document.querySelector(".buy").innerHTML = "Buy";
          document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>Enter count</span>";
          document.querySelector(".input-count").style["border-color"] = "red";
          return;
        } else {
          document.querySelector(".percentage").innerHTML = "";
          document.querySelector(".input-count").style["border"] = "1px solid #ced4da";
        };

        if ((address.length < 40) || (address.length > 42)) {
          document.querySelector(".buy").innerHTML = "Buy";
          document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>Invalid Polygon address</span>";
          document.querySelector(".address").style["border-color"] = "red";
          return;
        } else {
          document.querySelector(".percentage").innerHTML = "";
          document.querySelector(".address").style["border"] = "1px solid #ced4da";
        }

        document.querySelector(".email").style["border"] = "1px solid #ced4da";
        document.querySelector(".address").style["border"] = "1px solid #ced4da";
        

        $.ajax({ 
          url: '{{ domain_charge }}',
          method: "POST",
          data: {"email": email, "count": count, "address": address},
          success: function(data) {
            if (typeof data.error !== 'undefined') {
              if (data.error == "zero_image") {
                document.querySelector(".buy").innerHTML = "Buy";
                document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>Image sold out</span>";
              } else if (data.error == "image_count") {
                let last_count = data.last_count;
                document.querySelector(".buy").innerHTML = "Buy";
                document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>" + last_count + " images for sale left</span>";
                document.querySelector(".input-count").style["border-color"] = "red";
              }
            } else if (typeof data.result !== 'undefined') {
              if (data.result == "user_id_doesnt_exist") {
                document.querySelector(".buy").innerHTML = "Buy";
                document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>Something went wrong...</span>";
              } else {
                window.location.replace(data.result);
              }
            }
          }
        });
      };

      let check = () => {

        document.querySelector(".percentage").innerHTML = "";
        let email = document.querySelector(".email").value,
            address = document.querySelector(".address").value;

        if ((email.length == 0) && (address.length == 0)) {
          return;
        };
        document.querySelector(".btn-light").innerHTML = '<div class="spinner-border text-dark" role="status"><span class="visually-hidden">Loading...</span></div>';

        console.log(address);

        
        if ((email.length != 0) && (!validate())) {
          document.querySelector(".btn-light").innerHTML = "Check";
          document.querySelector(".email").style["border-color"] = "red";
          document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>Incorrect email format</span>";
          return;
        };

        if ((address.length != 0) && ((address.length < 40) || (address.length > 42))) {
          document.querySelector(".btn-light").innerHTML = "Check";
          document.querySelector(".address").style["border-color"] = "red";
          document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>Invalid Polygon address</span>";
          return;
        };


        document.querySelector(".email").style["border"] = "1px solid #ced4da";
        document.querySelector(".address").style["border"] = "1px solid #ced4da";
        
        $.ajax({ 
          url: '{{ domain_check }}',
          method: "POST",
          data: {"email": email, "address": address, "count": 0},
          success: function(data) {
            // display percentage
            
            if (data.result == "user_doesnt_exist") {
              // display error
              document.querySelector(".percentage").innerHTML = "<span style='color: red; font-weight: bold;'>User doesn't exist</span>";
              document.querySelector(".btn-light").innerHTML = "Check";
            } else {             
              let percentage = data.result;
              document.querySelector(".percentage").innerHTML = "Email has: <span style='font-weight: bold;'>" + percentage + "</span>%";
              document.querySelector(".email").style["border"] = "1px solid #ced4da";
              
              document.querySelector(".btn-light").innerHTML = "Check";
            }
          }
        });
        
      };

      let up = () => {
        let count = Number(document.querySelector(".input-count").value);

        count++;
        document.querySelector(".input-count").value = count;
      };
      
      let down = () => {
        let count = Number(document.querySelector(".input-count").value);
        
        if (count == 1) return;

        count--;
        document.querySelector(".input-count").value = count;
      };
    </script>
  </body>
</html>
